@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: #57585A;
	font-size: 1.6rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
h2{
	font-size: 2.5rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: #57585A;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}
.section-title span {
	color: #EE921A;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #EE921A;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #EE921A;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: #EE921A;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	font-family: 'Orbitron', sans-serif;
}
#header .header {
	min-height: 8vh;
	background-color: #575757;
	
}
#header .home{
	min-height: 8vh;
	background-color: transparent;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: #57585A;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: #57585A;
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #EE921A;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* home Section */
#home {
	background: url(../img/bg.jpeg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#home h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#home h1:nth-child(1) {
	animation-delay: 1s;
}
#home h1:nth-child(2) {
	animation-delay: 2s;
}
#home h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}

#home h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #EE921A;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#home h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#home h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#home h1:nth-child(3) span {
	animation-delay: 2.5s;
}
#home h2{
	color: white;
}


/* End home Section */

/* about Section */
#about .about {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#about .about-top {
	max-width: auto;
	padding-left: 100px;
	padding-right: 100px;
	margin: 0 auto;
	text-align: start;
}
#about .about-top p{
	font-weight: bold;
	font-size: 20px;
}
#about .about-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#about .about-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(img/coding.jpeg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#about .about-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #57585A 0%, #57585A 100%);
	opacity: 0.9;
	z-index: -1;
}
#about .about-bottom .icon {
	height: 50px;
	margin-bottom: 20px;
}
#about .about-item a {
	font-size: 3.5rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#about .about-item a:hover{
	color: #EE921A;
}
#about .about-item p {
	color: white;
	text-align: left;
	font-size: 2rem;
}
/* End about Section */

/* program section */
#program .program {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#program .program-header h1 {
	margin-bottom: 50px;
}
#program .all-program {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#program .program-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#program .program-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #57585A 0%, #57585A 100%);
	color: white;
}
#program .program-info h1 {
	font-size: 4rem;
	font-weight: 500;
	
}
#program .program-info h2 {
	font-size: 1.8rem;
	font-weight: bold;
	margin-top: 10px;
	color: #EE921A;
}
#program .program-info p {
	color: white;
}
#program .program-info a{
	color: white;
	font-size: 40px;
	text-decoration: none;
	font-family: 'Orbitron', sans-serif;
}
#program .program-info a:hover{
	color: #EE921A ;
}
#program .program-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#program .program-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #57585A 0%, #57585A 100%);
	opacity: 0.7;
}
#program .program-img img {
	transition: 0.3s ease transform;
}
#program .program-item:hover .program-img img {
	transform: scale(1.1);
}

/* End program section */

/* admission Section */
#admission .admission {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#admission .col-left {
	width: 250px;
	height: 360px;
}
#admission .col-right {
	width: 100%;
}
#admission .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#admission .col-right p {
	margin-bottom: 20px;
}
#admission .col-right .cta {
	color: #57585A;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#admission .col-left .admission-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#admission .col-left .admission-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #57585A;
	z-index: -1;
}
/* End admission Section */

/* student Section */
#student .student {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#student .student-items {
	/* max-width: 400px; */
	width: 100%;
}
#student .student-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#student .student-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#student .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#student .student-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#student .student-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End student Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #57585A 0%, #57585A 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-icon img:hover{
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #EE921A;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* home */
	#home h1 {
		font-size: 7rem;
	}
	/* End home */

	/* about Section */
	#about .about-bottom .about-item {
		flex-basis: 70%;
		height: 400px;
		margin: 2.5%;
	}
	/* End about Section */

	/* program */
	#program .program-item {
		flex-direction: row;
	}
	#program .program-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#program .program-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#program .all-program .program-info {
		height: 100%;
	}
	#program .all-program .program-img {
		height: 100%;
	}
	/* End program */

	/* admission */
	#admission .admission {
		flex-direction: row;
	}
	#admission .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#admission .admission .col-left .admission-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #EE921A;
	}
	#admission .col-right {
		text-align: left;
		padding: 30px;
	}
	#admission .col-right h1 {
		text-align: left;
	}
	/* End admission */

	/* student  */
	#student .student {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#student .student-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#student .student-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#student .student-item .icon {
		height: 100px;
		width: 100px;
	}
	#student .student-item .icon img {
		object-fit: contain;
	}
	#student .student-item .student-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End student  */

	/* Login */
	#login .img_Box{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #login .Login_box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    #login .Login_box .formBox{
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.9);
        margin: 50px;
    }

    #login .Login_box .formBox h3{
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
    #login .containerlogin{
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1300px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#about .about-bottom .about-item {
		flex-basis: 45%;
		height: 400px;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */

/* Login Section */
#login{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
}
#login .imgbox{
	position: relative;
	width: 50%;
	height: 100%;
}
#login .imgbox::before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg, #57585A 0%, #57585A 100%);
    z-index: 1;
    mix-blend-mode: screen;
}
#login .imgbox img{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#login .Login_box{
	display: flex;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
#login .Login_box .formBox{
	width: 50%;
}
#login .Login_box .formBox h2{
	color: #57585A;
    font-weight: 600;
    font-size: 35px;
	font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #EE921A;
    display: inline-block;
    letter-spacing: 2px;
}
#login .Login_box .formBox .input_Box{
    margin-bottom: 20px;
}

#login .Login_box .formBox .input_Box span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #57585A;
    font-weight: 300;
	font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

#login .Login_box .formBox .input_Box input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 600;
	font-family: 'Orbitron', sans-serif;
    border: 1px solid #57585A;
    font-size: 16px;
    letter-spacing: 1px;
    color: #57585A;
    background: transparent;
    border-radius: 10px;
}

#login .Login_box .formBox .input_Box input[type="submit"] {
    background: #EE921A;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 600;
	font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

#login .Login_box .formBox .input_Box input[type="submit"]:hover {
    background: #e35205;
}

#login .Login_box .formBox .remember{
    margin-bottom: 10px;
    color: #57585A;
    font-weight: 600;
    font-size: 16px;
	font-family: 'Orbitron', sans-serif;
}

#login .Login_box .formBox .input_Box p{
    color: #57585A;
	font-family: 'Orbitron', sans-serif;
}

#login .Login_box .formBox .input_Box p a{
    color: #EE921A;
	font-family: 'Orbitron', sans-serif;
}
#login .Login_box .formBox .input_Box p a:hover{
	color: blue;
}
#login .containerlogin{
	display: flex;
	justify-content: center;
	gap: 10px;

}

/* UOG Section */
#uog .uog{
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;

}
#uog .containerUog{
 	margin: auto;
  	width: 70%;
  	padding-top: 10px;
	justify-content: flex-start;
	flex-direction: row;
	vertical-align: text-top;
	margin-top: 100px;
}
#uog .containerUog h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 25px;
	color: #575757;
}
#uog .containerUog p{
	font-family: 'Titillium Web', sans-serif;
	color: #575757;
}
#uog .containerUog p strong{
	font-family: 'Titillium Web', sans-serif;
	color: #000000;
	font-weight: 3000;
}
#uog .containerUog img{
	width: 295px;
}
#uog .containerUog a{
	font-family: 'Titillium Web', sans-serif;
	color: #EE921A;
	font-weight: bold;
}
#uog .containerUog a:hover{
	font-family: 'Titillium Web', sans-serif;
	color: #E35205;
	font-weight: bold;
}
#uog .containerUog span{
	font-family: 'Titillium Web', sans-serif;
	color: #ff0000;
	font-weight: bold;
}
#uog .containerUog li{
	font-family: 'Titillium Web', sans-serif;
	color: #575757;
	font-size: 16px;
}
#uog .containerUog li strong{
	font-family: 'Titillium Web', sans-serif;
	color: #000;
	font-size: 16px;
}
#uog .containerUog li a{
	font-family: 'Titillium Web', sans-serif;
	color: #EE921A;
	font-size: 16px;
}
#uog .containerUog ol{
	padding-left: 50px;
}

/* Exchange Section */
#exchange .exchange{
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#exchange .containerEx{
	margin: auto;
	width: 70%;
	padding-top: 10px;
   	justify-content: flex-start;
   	vertical-align: text-top;
   	margin-top: 100px;
}
#exchange .containerEx h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 25px;
	color: #575757;
}
#exchange .containerEx p{
	font-family: 'Titillium Web', sans-serif;
	color: #575757;
}
#exchange .containerEx a{
	font-family: 'Titillium Web', sans-serif;
	color: #EE921A;
}
#exchange .containerEx a:hover{
	color: #E35205;
}
#exchange .containerEx img{
	width: 295px;
}
#exchange .containerEx p strong{
	font-family: 'Titillium Web', sans-serif;
	color: #000000;
	font-weight: 3000;
}
#exchange .containerEx .table img{
	width: 700px;
}
#exchange .containerEx li{
	font-family: 'Titillium Web', sans-serif;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	padding-left: 50px;
}

/* Internship Section */
#internship .internship{
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#internship .containerintern{
	margin: auto;
	width: 70%;
	padding-top: 10px;
   	justify-content: flex-start;
   	vertical-align: text-top;
   	margin-top: 100px;
}
#inernship .containerintern h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 25px;
	color: #575757;
}
#internship .containerintern p{
	font-family: 'Titillium Web', sans-serif;
	color: #575757;
}
#internship .containerintern li{
	font-family: 'Titillium Web', sans-serif;
	color: #575757;
	font-size: 16px;
}
#internship .containerintern li strong{
	font-family: 'Titillium Web', sans-serif;
	color: #000;
	font-size: 16px;
}
#internship .containerintern li a{
	font-family: 'Titillium Web', sans-serif;
	color: #EE921A;
	font-size: 16px;
}
#internship .containerintern ol{
	padding-left: 50px;
}
#internship .containerintern ul{
	padding-left: 50px;
}
#internship .containerintern p strong{
	font-family: 'Titillium Web', sans-serif;
	color: #000000;
	font-weight: 3000;
}
#internship .containerintern p a{
	color: #EE921A;
}
#internship .containerintern p a:hover{
	color: #E35205;
}
/* Requirement */
#requirement .requirement{
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#requirement .containerreq{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding-top: 10px;
   	justify-content: center;
	display: center;
   	vertical-align: text-top;
   	margin-top: 100px;
}
#requirement .containerreq .header{
	text-align: center;
}
#requirement .containerreq .header h2{
	font-size: 18px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	color: #57585A;
}
#requirement .containerreq .header img{
	height: 200px;
	width: auto;
}
#requirement .containerreq p{
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	color: #57585A;
}
#requirement .containerreq .section h2{
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	color: #57585A;
}
#requirement .containerreq ul{
	padding-left: 50px;
}
#requirement .containerreq h2{
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	color: #57585A;
}
#requirement .containerreq h2 span{
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	color: blue;
}
#requirement .containerreq img{
	width: 500px;
	height: auto;
	margin-left: auto;
}